In [1]:
import numpy as np
import pandas as pd

In [2]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

In [3]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

In [10]:
pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

In [15]:
pets['num_pets']

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: num_pets, dtype: object

In [16]:
pets

  sex  age                     pets num_pets
0   M   21               [cat, dog]     None
1   M   45                [hamster]     None
2   F   23            [cat, gerbil]     None
3   M   56  [fish, hamster, gerbil]     None
4   F   47                    [cat]     None
5   F   70                    [dog]     None
6   F   34                    [dog]     None
7   M   30                    [cat]     None
8   F   19            [rabbit, cat]     None
9   M   62                    [dog]     None

In [17]:
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']

TypeError: '>' not supported between instances of 'NoneType' and 'NoneType'

In [18]:

pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object